[submodule "kits/core-kit"]
	path = kits/core-kit
	url = https://github.com/funtoo/core-kit.git
[submodule "kits/security-kit"]
	path = kits/security-kit
	url = https://github.com/funtoo/security-kit.git
[submodule "kits/xorg-kit"]
	path = kits/xorg-kit
	url = https://github.com/funtoo/xorg-kit.git
[submodule "kits/media-kit"]
	path = kits/media-kit
	url = https://github.com/funtoo/media-kit.git
[submodule "kits/python-kit"]
	path = kits/python-kit
	url = https://github.com/funtoo/python-kit.git
[submodule "kits/perl-kit"]
	path = kits/perl-kit
	url = https://github.com/funtoo/perl-kit.git
[submodule "kits/nokit"]
	path = kits/nokit
	url = https://github.com/funtoo/nokit.git
[submodule "kits/editors-kit"]
	path = kits/editors-kit
	url = https://github.com/funtoo/editors-kit.git
[submodule "kits/gnome-kit"]
	path = kits/gnome-kit
	url = https://github.com/funtoo/gnome-kit.git
[submodule "kits/php-kit"]
	path = kits/php-kit
	url = https://github.com/funtoo/php-kit.git
[submodule "kits/java-kit"]
	path = kits/java-kit
	url = https://github.com/funtoo/java-kit.git
[submodule "kits/dev-kit"]
	path = kits/dev-kit
	url = https://github.com/funtoo/dev-kit.git
[submodule "kits/kde-kit"]
	path = kits/kde-kit
	url = https://github.com/funtoo/kde-kit.git
[submodule "kits/desktop-kit"]
	path = kits/desktop-kit
	url = https://github.com/funtoo/desktop-kit.git
[submodule "kits/net-kit"]
	path = kits/net-kit
	url = https://github.com/funtoo/net-kit.git
[submodule "kits/text-kit"]
	path = kits/text-kit
	url = https://github.com/funtoo/text-kit.git
[submodule "kits/science-kit"]
	path = kits/science-kit
	url = https://github.com/funtoo/science-kit.git
[submodule "kits/games-kit"]
	path = kits/games-kit
	url = https://github.com/funtoo/games-kit.git
[submodule "kits/core-hw-kit"]
	path = kits/core-hw-kit
	url = https://github.com/funtoo/core-hw-kit.git
